# Dependencies
node_modules

# Build output
dist
dist-site

# Logs
logs
*.log
npm-debug.log*

# Local env
.env
.env*.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
